#PROD :
#DISCORD_TOKEN=//TOKEN//
#DEV :
DISCORD_TOKEN=//TOKEN//
#If sqlite
DB_LOCATION=./DB/bot.db
# Obligatoire pour attribuer l'ancienne base si le bot est déjà sur plusieurs serveurs.
# LEGACY_GUILD_ID=123456789012345678
DISCORD_BOT_NAME=discordBotKernel
MYGES_YEAR=2026
